@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@plugin '@midudev/tailwind-animations';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-poppins: "Poppins", sans-serif;

  --color-background-primary-light: #f5f5f5;
  --color-background-primary-dark: #111827;
  --color-background-secondary-light: #ffffff;
  --color-background-secondary-dark: #1e293b;

  --color-text-primary-light: #222725;
  --color-text-primary-dark: #f1f5f9;
  --color-text-secondary-light: #334155;
  --color-text-secondary-dark: #e5e7eb;
  --color-text-subtitle-light: #64748b;
  --color-text-subtitle-dark: #9ca3af;

  --color-text-button-light: #ffffff;
  --color-text-button-dark: #f1f5f9;

  --color-accent-primary-light: #2a3d33;
  --color-accent-primary-dark: #38bdf8;
  --color-accent-secondary-light: #e0aa63;
  --color-accent-secondary-dark: #a78bfa;

  --color-hover-primary-light: #2c4939;
  --color-hover-primary-dark: #1496d0;
}

html {
  scroll-behavior: smooth;
}
